@font-face {
    src: url('/fonts/NanumSquareRoundB.ttf');
    font-family: 'NanumSquareRoundBold';
}

@font-face {
    src: url('/fonts/NanumSquareRoundEB.ttf');
    font-family: 'NanumSquareRoundExtraBold';
}

:root {
    --grey: #EEEEEE;
    --border_grey: #E2E2E2;
    --primary: #E69060;
}

html, body {
    transition: all 0.5s ease;
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareRoundBold';
}