@font-face {
    src: url('/fonts/NanumSquareRoundB.ttf');
    font-family: 'NanumSquareRoundBold';
}

@font-face {
    src: url('/fonts/NanumSquareRoundEB.ttf');
    font-family: 'NanumSquareRoundExtraBold';
}

:root {
    --yellow: #E9D9A9;
    --grey: #EEEEEE;
    --border_grey: #E2E2E2;
}

html, body {
    margin: 0;
    font-family: 'NanumSquareRoundBold';
}
